/***Import font***/
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    font-family: 'Ubuntu', sans-serif; 
    background-color: white;
}

#body {
    transition: margin-left .5s;
    padding: 2%;
}

section {
    text-align: center;
    margin: 15% 40.5% 0px 40.5%;
    padding: 10px;
    background-color: #FFF;
    overflow: hidden;
}

legend, input{
    font-family: 'Ubuntu', sans-serif;
}

input {
    background-color: #b8c6db;
    border-radius: 3px;
    padding: 10px 0;
    border: none;
    text-align: center;
}


#login {
    background-color: #3498DB;
}


.logout-btn {
    background: #d3d3d3;
    color: #2c2c2c;
    cursor: pointer;
    font-size: 2em;
    border: 0;
    padding-left: 50px;
    transition: all 0.5s;
    border-radius: 10px;
    width: 50%;
    margin-left: 120px;
    position: relative;
    text-align: center;
}

.logout-btn:hover {
    background: #2b2bff;
    border-radius: 10px;
    box-shadow: 0px 6px 15px #0000ff61;
    color: #ffffff;
}

#container {
    background: rgb(245,247,250);
    background: linear-gradient(90deg, rgba(245,247,250,1) 0%, rgba(184,198,219,1) 100%);
    max-width: 100%;
}
.sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar > a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size : 20px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
    justify-content: center;
}




.button {
    background-color: #1BD7BB;
    font-size: 150%;
    cursor: pointer;
    border: none;
    text-align: center;
    width: 100%;
    outline: none;
    font-size: 10px;
    justify-content: column;
    padding: 10px 15px;
}

.active, .button:hover {
    background-color: #555;
    color: white;
}

.preview {
    text-align: center;
    color: black;
}