body {
    font-family: Verdana, Geneva, sans-serif; 
    margin: 0 5% 0 5%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,145,147,1) 0%, rgba(82,120,210,1) 83%);
  }

h1 {
    font-size: 40px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px; 
    text-align: center; 
    margin: 0.5em;
    padding: 0.5em; 
    /*font-variant: small-caps;*/
    /*font-size: 2em;*/
  }
h2 {
    margin: 0px 0 0 0;
    padding: 5px;
    font-size: 1.2em;
    list-style: none;
    padding-left: 0;
    line-height: 20px; 
    border-style: solid;
    border-bottom-width: thin;
  }

img {
    width: 110px;
    height: 160px;
    float: right;
    margin: 10px 1000px 10px 100px;
  }

p {
    padding: 0;
    margin: 0;
}

#contactInfo {
    border-top: 2px solid #333;
    padding: 0px;
}
#contactInfo2 {
    border-bottom: 2px solid #333;
    padding: 0px;
  }

#education {
    padding: 0em 0em 0 0;
  }
