main {
    line-height: 1.5;
    font-family: "Cambria", "Georgia", "serif";
    margin: 0% 25% 5% 25%;
    padding: 5%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

header {
    font-size: 1.5rem;
    height: 5em;
    top: 0;
    text-align: center;
    background-image: linear-gradient( to right, rgba(0,0,0,0), rgba(255,255,255,0.5) 25%, rgba(255,255,255,1) 75%) , url("./resources/Flag.png");
    background-size:50%;
    margin-bottom: 3em;
    background-repeat: no-repeat;
    display: block;
}

nav a {
    color: lightblue;
    font-family: "Cambria", "Georgia", "serif";
}

nav {
    float: left;
}

nav li {
    list-style: none;
    line-height: 2;
}

.info-note {
    background: rgb(190,183,164);
    background: linear-gradient(90deg, rgba(190,183,164,1) 0%, rgba(255,255,252,1) 100%);
    border-left: 3px solid #2196F3; 
    border-radius: 0px 10px 10px 0px;
    padding-left: 10px;


}

.bullet-points-note {
    background: rgb(206,245,118);
    background: linear-gradient(90deg, rgba(206,245,118,1) 0%, rgba(132,251,149,1) 66%);

}

/*Possible Navigation Styling*/

 .source{
     background-color: rgb(143, 139, 138);
     padding: 10px;  
     margin-left: 0;
     margin-right: 0;
 }

 .drop{
     display: inline-block;
     position: relative; 
 }

  .dropdown-content {  
    display: none;  
    position: absolute;  
    background-color: rgb(194, 189, 189);  
    min-width: 140px;  
    overflow: auto;  
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);  
  }  

   .inner-content a {  
    color: black;  
    padding: 12px 16px;  
    text-decoration: none;  
    display: block;  
  }  

  .inner-content {  
    display: none;  
    position: absolute;  
    background-color: rgb(194, 189, 189);  
    min-width: 140px;  
    height: auto;
    overflow: auto;  
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);  
  }  

   .dropdown-content a {  
    color: black;  
    padding: 12px 16px;  
    text-decoration: none;  
    display: block;  
  }  

  .show {  
    display: block;  
  }  

  .resize{
    height:300px;
  }

  .dropWrapper {
    position: sticky;
    top: 6em;
    
  }

  .extraNav{
    position: sticky;
    top: 2em;
  }

  .navBtn {
    background-color: rgb(143, 139, 138);
    padding: 10px;  
    margin-left: 0;
    margin-right: 0;
  }

  /* Quiz Page Styling */

  .proof{
    display: none;
    border: 2px solid black;
    margin: 1em;
    padding: 0.5em;
    background-color: lightgray;
  }

  .question{
    margin:2em;
    border: 2px solid black;
    padding: 1em;
  }

  .answers{
    align-items: center;
    justify-content: center;
  }

  .question button {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 0.5em;
    align-items: center;
    font-family: "Cambria", "Georgia", "serif";
    display:block;
  }

  #results {
    display: none;
    text-align: center;
    border: 5px solid black;
    padding: 1em;
  }

  #submit {
    width: 100%;
    margin-bottom: 2em;
    padding: 1em;
    background-color: white;
    font-family: "Cambria", "Georgia", "serif";
    text-align: center;
    justify-content: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  /*glossary footer style*/
  footer{
    font-style: italic;
    color:rgb(124, 117, 117)
  }

