body {
    background-image: url('speed-internet-technology-background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

main {
    line-height: 1.5;
    font-family: "Cambria", "Georgia", "serif";
    margin: 0% 5% 0% 5%;
    padding: 5%;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


header {
    padding: 30px;
    padding-left: 100px;
}

header > h1 {
    padding-left: 100px;
    font-size: 300%;
    color: white;
}

header > h2 {
    font-size: 100%;
    font-weight: bold;
    padding-left: 100px;
    color: white;
}

.navbar {
    background-color: black;
    overflow: hidden;
}

.navbar a {
    float: left;
    text-align: center;
    padding: 12px 15px;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.navbar a:hover {
    background-color: lightgrey;
    color: black;
}
.navbar a.active {
    background-color: #D20426;
    color: white;
}

.article_box {
    margin: 0;
    padding: 5px 15px 15px 5px;
}

.article_box > h1 {
    color: #D20426;
    font-size: 200%;
    padding-bottom: 10px;
}

.article_box > h2 {
    color: #D20426;
    font-size: 150%;
}

.article_box > p {
    color: black;
    font-size: 150%;
}

#article_box {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    background-color: lightgray;
}

.section {
    text-align: center;

}

#section {
    text-align: left;
}

.section, #section > a:link, a:visited {
    background-color: #D20426;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    transition: transform 250ms;
    width: 500px;
}
  
.section, #section > a:hover, a:active {
    transform: translateY(-5px);
}


.news_box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    
}

.news_box .box{
    width: 400px;
    padding: 5px;
    margin: 25px;
    background-color:rgba(0, 0, 0, 0.35);
    
}

.news_box .box:hover {
    transition: linear 500ms;
}


.button_background {
    background-color: rgba(255, 255, 255, 0.85);
    color: black;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    margin: 10px 0 0 0;
    border-bottom: 1px solid gray;
    text-align: left;
    overflow: hidden;
    font-size: 150%;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#collapse {
    display: none;
    
}


#collapse > p {
    color: black;
    font-size: 85%;

}

#collapse > h2 {
    font-size: 80%;
}
#collapse2 {
    display: none;
}

#collapse2 > p {
    color: black;
    font-size: 85%;
}

#collapse2 > h2 {
    font-size: 80%;
}

.columns {
    display: flex;
}
  
.column {
    background: #eee;
    border: 5px solid #ccc;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;
}
  
.main-column {
    flex: 2;
}
  
.article {
    background: #D20426;
    border: 5px solid black;
    color: white;
    flex: 1;
    margin: 10px;
    padding: 20px;
}
.article-title {
    color: #333;
    flex-shrink: 0;
    font-size: 1.4em;
    font-weight: bold;
    font-weight: 700;
    line-height: 1.2;
}
  
.article-content {
    flex: 1;
    margin-top: 5px;
}

img {
    max-width:100%;
    max-height:100%;
}



.sections {
    background-color: white;
    border
}

.sections > h1, p, h3 {
    padding: 5px;
}

.sections > h2 {
    padding: 5px;
    border-bottom: solid gray 1px;
    background: rgb(254,88,88);
    background: linear-gradient(90deg, rgba(254,88,88,1) 0%, rgba(238,150,23,1) 100%);
}

table, th, td {
    text-align: left;
    border:1px solid black;
 }

.faculty_box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 2000px;
}

.faculty_box > div {
    background: rgb(245,247,250);
    background: linear-gradient(90deg, rgba(245,247,250,1) 0%, rgba(184,198,219,1) 100%);
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    height: 900px;
    width: 250px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all .5s ease-in-out; 
}

.faculty_box > div:hover {
    transform: scale(1.05); 
}

.faculty_box > div > h1 {
    background-color: white;
    font-size: 70%;

}

.faculty_box > div > p {
    font-size: 45%;
}


.faculty_box > img {
    width: 100%;
    max-height: 45%;
}

#more {
    display: none;
}