body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 5%;
    text-align: center;
    
}

h1 {
    font-size: 300%;
    color: hsl(255, 100%, 100%);
}

pre {
    border-radius: 10px;
    background-color: #FFFFFF;
    padding: 10px 0 10px 0;
}

.calculator {
    padding: 5%;
    background-color: hsl(202, 11%, 29%);
    margin: 0 20% 0 20%;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 10px;

}

form {
    margin-bottom: 3%;
}

form > input {
    margin-bottom: 10px;
}


input[type=submit] {
    align-items: center;
    align-content: space-around;
	top: -5px;
	cursor: pointer;
	border: none;
	padding: 20px;
	border-radius: 10px;
	background-color: #708DFD;
	color: #FFFFFF;
	box-shadow: 0 12px 7px -5px rgba(0,0,0,0.35);
	transition: box-shadow .2s, top .2s, background-color .2s, flex-basis .2s;    
}

input[type=submit]:hover, 
input[type=submit]:focus {
	box-shadow: 0 0 0 0 rgba(0,0,0,0.35);
	top: 0;
}

input[type=text]{
    border-radius: 10px;
    border-color: #FFFFFF;
}

pre {
    font-size: 150%;
}
